<%- include('include/_header') %>
        <div class="notes">
            <% for(var cont=0; cont < Notes.length; cont++) { %>                
            <div class="note">
                <div class="content">
                    <h2><%= Notes[cont].title %></h2>
                    <p><%= Notes[cont].content %></p>
                </div>
                <div class="actions">
                    <form action="/edit/<%= Notes[cont].id %>" method="GET">
                        <button type="submit" class="fas fa-edit btn"></button>
                    </form>
                    <form action="/delete/<%= Notes[cont].id %>?_method=DELETE" method="POST">
                        <button type="submit" class="fas fa-times btn"></button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
 <%- include('include/_footer') %>